.input{
    padding-top: calc(0.8vw);
    padding-bottom: calc(0.8vw);
}
.pb_1{
    padding-bottom: calc(0.5vw);
}
.border{
    border-radius: 20px;
}
.select{
    padding-top: calc(0.8vw);
    padding-bottom: calc(0.8vw);
}