<section  class="col_center item_center inherit bg_color_black z_index">
    <div class="col_9 room border h_60 row_evenly bg_color_white">
        <div class="col_17 bg_color_one title">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
        </div> 
        <form (ngSubmit)="updateInventory()" [formGroup]="inventoryForm" class="col_17 h_50 row_evenly">
            <div class="col_17 col_between">
                <div class="col_17">
                    <label for="" class="size_2">{{textDate}}</label>
                </div>
                <div class="col_8">
                    <input type="text" id="dateInput" class="input col_17 size_1 bg_color_four" placeholder="" readonly formControlName="">
                </div>
            </div>
            <div class="col_17 col_between">
                <div class="col_8">
                    <label for="" class="size_2">{{textNameProduct}}</label>
                    <input type="text" class="input col_17 size_1" placeholder="{{inventoryModel.productEntity.productName}}" formControlName="nameProduct">
                </div>          
                <div class="col_8">
                    <label for="" class="size_2">{{textAmount}}</label>
                    <input type="number" class="input col_17 size_1" placeholder="{{inventoryModel.inventoryAmount}}" formControlName="amountProduct">
                </div>
            </div>
            <div class="col_17 col_between">
                <button class="col_8 btn_two size_2" (click)="modalEvent()">{{textFail}}</button>
                <button type="submit" class="col_8 btn_one size_2">{{textEdit}}</button>
            </div>
        </form> 
    </div>
</section>