.error_placeholder::placeholder{
    color: var(--color_ten);
}
.text_color{
    color: var(--color_ten);
}
.text_a{
    text-decoration: underline;
    color: var(--color_fifteen);
    font-weight: 500;
}
.svg_width{
    width: calc(10vh + 8vw);
}
.border_special{
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.border_special:hover{
    box-shadow: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.border_special:focus{
    border: none;
    box-shadow: none;
    outline: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.svg_icon{
    width: calc(2.8vh);
}
.border{
    border-radius: 15px;
}
.error-message {
    color: red;
    font-size: 16px;
    margin-top: 6px;
  }
@media screen and (min-width: 0px) and (max-width: 500px){
    .svg_width_mv{
        width: calc(30vh);
    }

}