<section class="row_center inherit">
    <div class="col_17 col_17_mv bg_color_one bg_color_one_mv title title_mv">
        <h1 class="size_3 size_2_mv text_center text_center_mv">{{suplier}}</h1>
    </div>
    <div class="py_1 py_3_mv h_60">
        <div class="border border_mv text_center text_center_mv py_1 py_3_mv div_width">
            <a class="size_1 size_mv text_color_two" type="submit" routerLink="../supplier-page-principal">Registra a tu <span class="text_color_one">Proveedor</span></a>
        </div>
    </div>
</section>