@import url(/src/styles.scss);

.z_index{
    position: fixed;
    z-index: 1;
    width: calc(100vw);
    height: calc(100vh);
}
.border{
    border-radius: 30px;
}
.input{
    padding-top: calc(0.7vw);
    padding-bottom: calc(0.7vw);
    border-radius: 10px;
}
.bg_color_black{
    background-color: rgba(0, 0, 0, 0.8);
}
.bg_color_white{
    background-color: var(--color_seven);
}
.border-top{
margin-block: 7px;
border-top: 1px solid black;
}
.border-bottom{
    border-bottom: 1px solid black;
    margin-top: 7px;
}
