@import url(/src/styles.scss);

.z_index{
    position: fixed;
    z-index: 1;
    width: calc(100vw);
    height: calc(100vh);
}
.border{
    border-radius: 20px;
}
.bg_color_black{
    background-color: rgba(0, 0, 0, 0.8);
}
.bg_color_white{
    background-color: var(--color_seven);
}
.svg_width{
    width: calc(50vh);
}