<section  class="col_center item_center inherit bg_color_black z_index">
    <div class="col_9 room border h_70 row_evenly bg_color_white">
        <div class="col_17 bg_color_one title">
            <h1 class="size_3 text_center">{{textTitle}}</h1>
        </div> 
        <form (ngSubmit)="updateExpensive()" [formGroup]="expensiveForm" class="col_17 h_50 row_evenly">
            <div class="col_17 col_between">
              <div class="col_17 row_center">
                <div class="col_14 ">
                    <label for="" class="size_2">{{textNumberInvoice}}</label>
                    <input type="number" class="input col_17 size_1" placeholder="" formControlName="noExpensive">
                </div>
              </div>
                <div class="col_16 col_between">
                    <div class="col_16 row_center">
                        <label class="size_2">{{textPay}}</label>
                        <select formControlName="methodPayExpensive" class="select size_1">
                            <option class="size_1" value="" disabled selected>Seleccionar Metodo</option>
                            <option class="size_1" *ngFor="let metodo of metodosDePago" [value]="metodo">{{ metodo }}</option>
                        </select>
                    </div>
                </div>
            <div class="col_14 col_between">
                <div class="col_16 row_center">
                    <label for="" class="size_2">{{textValue}}</label>
                    <input type="number" class="input col_17 size_1" placeholder="" formControlName="valueExpensive">
                </div>
                </div>
            </div>
            <div class="col_17 col_between">
                <div class="col_17">
                    <label for="" class="size_2">{{textPlace}}</label>
                    <input type="text" class="input col_17 size_1" placeholder="" formControlName="placeExpensive">
                </div>
            </div>
            <div class="col_17 py_1 col_between">
                <div class="col_17">
                    <label for="" class="size_2">{{textDescription}}</label>
                    <input type="text" class="input col_17 size_1" placeholder="" formControlName="descriptionExpensive">
                </div>
            </div>
            <div class="col_17 py_1 col_between">
                <button class="col_8 btn_two size_2" (click)="modalEventTwo()">{{textFail}}</button>
                <button type="submit" class="col_8 btn_one size_2">{{textDone}}</button>
            </div>
        </form> 
    </div>
</section>
