.svg_width{
    width: calc(2.5vw + 1.5vh);
    transition: width 0.3s ease;
}
.svg_width:hover{
    width: calc(3vw + 1.5vh);
}
.navegation{
    fill: #414141;
}
.navegation:hover svg{
    fill: var(--color_one);
}
.svg_width_logo{
    width: calc(9vw);
    transition: width 0.3s ease;
}
.svg_width_logo:hover{
    width: calc(10vw);
}
.border_bottom{
    border-bottom: 1px solid;
    border-color: var(--color_two);
}